@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

// BREAKPOINTS
$bp-xs: 480px;
$bp-sm: 768px;
$bp-md: 992px;
$bp-lg: 1200px;

html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}


.loader-container {
  opacity: 0;
  transition: opacity .8s ease-in-out;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  z-index: -1;
}

my-app:empty + .loader-container {
  opacity: 1;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0e36d;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.center-hold {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &.justif-evenly{
    justify-content: space-evenly;
  }
}

add-edit-good {
  mat-card {
    width: 50%;

    @media (max-width: $bp-sm) {
      width: 90%;
    }
  }
}
