Grid

<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="goodsCrudService.goods">

    <ng-container matColumnDef="good-code">
      <mat-header-cell *matHeaderCellDef> Code </mat-header-cell>
      <mat-cell *matCellDef="let good"> {{good.code}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="good-description">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let good"> {{good.description}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="good-is-active">
      <mat-header-cell *matHeaderCellDef> Active </mat-header-cell>
      <mat-cell *matCellDef="let good"> {{good.isActive}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['good-code', 'good-description', 'good-is-active']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['good-code', 'good-description', 'good-is-active'];"></mat-row>
  </mat-table>

  <button mat-fab color="accent">
    <mat-icon class="material-icons md-48">control_point</mat-icon>
  </button>

  </div>
